<!-- Form to Register Student Information -->
 

<div class="cardadmin bg-c-blue order-card">
    <div class="cardadmin-block text-center">
      <h6 class="stadmin m-b-20"><%=name%></h6>
      <p class="studentadmin text-center "><span style="font-size: 17px"><%=des%></span></p>
    </div>
  </div>