<div class="container-fluid gx-0">
  <nav class="navbar1 navbar-expand-lg">
    <div class="container">
      <h2>Campus Connect</h2>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
              <a class="btn-navbar" href="#">Login</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
