
  <nav class="navbar1">
    <!-- <div class="container"> -->
      <h3 class="cc">Campus Connect</h3>
     <ul >
      <li class="nav-item1" >
        <a class="btn-navbar1" href="#">Log out</a>
      </li>
     </ul>
<!--     
    </div> -->
  </nav>

