<div class="sidebar">
  <center>
    <img src="images/student1.png" class="profile_image" alt="" />
    <h4>Student</h4>
  </center>
  <a
    href="/student_dashboard"
    class="<% if(page_name == 'student-dashboard'){%> active <% } %>"
    ><i class="fas fa-desktop"></i><span>Profile</span></a
  >
   <a
    href="/student_noticeboard"
    class="<% if(page_name == 'student-noticeboard'){%> active <% } %>"
    ><i class="fa-duotone fa-solid fa-envelope-open-text"></i><span>Notice Board</span></a
  >
  <a
    href="/student_attendance"
    class="<% if(page_name == 'student-attendance'){%> active <% } %>"
    ><i class="fa-solid fa-calendar-days"></i><span>Attendance</span></a
  >
  <a
    href="/student_modules"
    class="<% if(page_name == 'student-modules'){%> active <% } %>"
    ><i class="fa-duotone fa-solid fa-books"></i><span>Modules</span></a
  >
  <a
    href="/student_timetable"
    class="<% if(page_name == 'student-timetable'){%> active <% } %>"
    ><i class="fa-sharp fa-regular fa-calendar-clock"></i><span>Time Table</span></a
  >
  <a
    href="/student_quizes"
    class="<% if(page_name == 'student-quiz'){%> active <% } %>"
    ><i class="fa-solid fa-clipboard-check"></i><span>Quiz</span></a
  >
  
  <a
    href="/student_reportcard"
    class="<% if(page_name == 'student-reportcard'){%> active <% } %>"
    ><i class="fa-solid fa-chart-mixed"></i></i><span>Report Card</span></a
  >
</div>
