<div class="sidebar">
    <center>
      <img src="images/teacher.png" class="profile_image" alt="" />
      <h4>Club</h4>
    </center>
    <a
      href="/club_dashboard"
      class="<% if(page_name == 'club-dashboard'){%> active <% } %>"
      ><i class="fas fa-desktop"></i><span>About Club</span></a
    >
    <a
      href="/club_noticeboard"
      class="<% if(page_name == 'club-noticeboard'){%> active <% } %>"
      ><i class="fa-duotone fa-solid fa-envelope-open-text"></i><span>Notice Board</span></a
    >
    <a
      href="/club_members"
      class="<% if(page_name == 'club-members'){%> active <% } %>"
      ><i class="fa-regular fa-screen-users"></i><span>Club Members</span></a
    > 
    <a
      href="/club_gallery"
      class="<% if(page_name == 'club-gallery'){%> active <% } %>"
      ><i class="fa-regular fa-screen-users"></i><span>Club Gallery</span></a
    > 
    <a
      href="/club_certifications"
      class="<% if(page_name == 'club-certifications'){%> active <% } %>"
      ><i class="fa-regular fa-screen-users"></i><span>Club Certifications</span></a
    > 
    
  </div>