<%- include('../partials/header.ejs') %> <%-
include('../partials/sidebar_admin.ejs',{page_name:'admin-club'}) %> <%-
include('../partials/header_profile.ejs') %>

<div class="container2">
  <div class="container">
    <header>Registration</header>
    <form action="#">
      <div class="form first">
        <div class="details personal">
          <span class="form-title">Club Details</span>
          <div class="fields">
            <div class="input-field">
              <label>Club Name</label>
              <input type="text" placeholder="Enter club name" required />
            </div>
            <div class="input-field">
              <label>Establishment</label>
              <input
                type="date"
                placeholder="Enter Establishment Date"
                required />
            </div>
            <div class="input-field">
              <label>Email</label>
              <input type="text" placeholder="Enter your email" required />
            </div>
            <div class="input-field">
              <label>Members</label>
              <input type="number" placeholder="Enter no of members" required />
            </div>

            <div class="input-field">
              <label>Events</label>
              <input type="number" placeholder="Enter no of Events" required />
            </div>
            <div class="input-field">
              <label>Faculty Head</label>
              <input
                type="text"
                placeholder="Enter the faculty head"
                required />
            </div>
            <div class="input-field">
              <label>Student Head</label>
              <input
                type="text"
                placeholder="Enter the student lead"
                required />
            </div>
            <div class="input-field">
              <label>Social Media</label>
              <input
                type="text"
                placeholder="Enter social media link"
                required />
            </div>
            <div class="input-field">
              <label>Office </label>
              <input type="text" placeholder="Enter Office Address" required />
            </div>
          </div>
          <button class="nextBtn">Add Club</button>
        </div>
      </div>
    </form>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
