<%- include('../partials/header.ejs') %> <%-
include('../partials/sidebar_club.ejs',{page_name:'club-gallery'}) %> <%-
include('../partials/header_profile.ejs') %>
<div class="container2">
  <!-- <h2>Club Gallery</h2> -->
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card-product">
        <img src="/images/green.jpeg" class="card-img-top img-card" alt="" />
        <div class="card-body">
          <h5 class="card-title">Lush Green Environment</h5>
          <p class="card-text">
            Our campus features numerous lush green parks, offering a serene
            environment where you can connect with nature and enjoy a refreshing
            atmosphere.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card-product">
        <img src="/images/lit fest.jpg" class="card-img-top img-card" alt="" />
        <div class="card-body">
          <h5 class="card-title">Lit Fest</h5>
          <p class="card-text">
            Our campus organized a lively lit fest where esteemed personalities
            from the industry joined us, sharing their valuable insights and
            enriching the experience for everyone.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card-product">
        <img
          src="/images/Christmas-Music-Fiesta.jpg"
          class="card-img-top img-card"
          alt="" />
        <div class="card-body">
          <h5 class="card-title">Christmas Music Fiesta</h5>
          <p class="card-text">
            We celebrated Christmas with a vibrant event featuring a dynamic DJ
            performance and a lively musical celebration, creating a festive
            atmosphere that brought joy to everyone.
          </p>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card-product">
        <img src="/images/green.jpeg" class="card-img-top img-card" alt="" />
        <div class="card-body">
          <h5 class="card-title">Lush Green Environment</h5>
          <p class="card-text">
            Our campus features numerous lush green parks, offering a serene
            environment where you can connect with nature and enjoy a refreshing
            atmosphere.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card-product">
        <img src="/images/lit fest.jpg" class="card-img-top img-card" alt="" />
        <div class="card-body">
          <h5 class="card-title">Lit Fest</h5>
          <p class="card-text">
            Our campus organized a lively lit fest where esteemed personalities
            from the industry joined us, sharing their valuable insights and
            enriching the experience for everyone.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card-product">
        <img
          src="/images/Christmas-Music-Fiesta.jpg"
          class="card-img-top img-card"
          alt="" />
        <div class="card-body">
          <h5 class="card-title">Christmas Music Fiesta</h5>
          <p class="card-text">
            We celebrated Christmas with a vibrant event featuring a dynamic DJ
            performance and a lively musical celebration, creating a festive
            atmosphere that brought joy to everyone.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
