<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_club.ejs',{page_name:'club-members'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <h2>Club Heads</h2>
    <table class="modules-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Abc</td>
                <td>President</td>
                <td>president_club@gmail.com</td>
            </tr>
            <tr>
                <td>Efg</td>
                <td>Vice President </td>
                <td>vice_president_club@gmail.com</td>
            </tr>
            <tr>
                <td>Hij</td>
                <td>Technical Head</td>
                <td>technical_head_club@gmail.com</td>
            </tr>
            <tr>
                <td>Klm</td>
                <td>Social Media Head</td>
                <td>socialmedia_club@gmail.com</td>
            </tr>
           
            <!-- Add more modules as needed -->
        </tbody>
    </table>

</div>
<div class="container2">
    <h2>Club Members</h2>
    <table class="modules-table" style="margin-bottom: 50px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Abc</td>
                <td>Technical</td>
                <td>m1@gmail.com</td>
            </tr>
            <tr>
                <td>Efg</td>
                <td>Technical</td>
                <td>m2@gmail.com</td>
            </tr>
            <tr>
                <td>Hij</td>
                <td>Technical</td>
                <td>m3@gmail.com</td>
            </tr>
            <tr>
                <td>Klm</td>
                <td>Technical</td>
                <td>m4@gmail.com</td>
            </tr>
            <tr>
                <td>Abc</td>
                <td>Social Media</td>
                <td>m5@gmail.com</td>
            </tr>
            <tr>
                <td>Efg</td>
                <td>Social Media</td>
                <td>m6@gmail.com</td>
            </tr>
            <tr>
                <td>Hij</td>
                <td>Social Media</td>
                <td>m7@gmail.com</td>
            </tr>
            <tr>
                <td>Klm</td>
                <td>Social Media</td>
                <td>m8@gmail.com</td>
            </tr>
           
            <!-- Add more modules as needed -->
        </tbody>
    </table>

</div>
<%- include('../partials/footer.ejs') %>
