<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_club.ejs',{page_name:'club-gallery'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <!-- <h2>Club Gallery</h2> -->
    <div class="gallery">
        <img src="" alt="Event Image 1">
        <img src="" alt="Event Image 2">
        <img src="" alt="Event Image 3">
        <!-- Add more images as needed -->
    </div>
</div>
<%- include('../partials/footer.ejs') %>
