<%- include('../partials/header.ejs') %>
<div class="header">
  <div class="container-fluid gx-0">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand logo text-uppercase" href="#">Campus Connect</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="btn-navbar" href="#">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container1">
      <div class="content-home">
        <div class="row content-home2">
          <div class="col-lg-7 col-md-5">
            <div class="box-container">
              <img src="" alt="" class="img-home" />
            </div>
          </div>
          <div class="col-lg-5 col-md-7">
            <div class="box-container2">
              <h1 class="home-heading">
                Empowering Connections
                <span class="home-span">Enriching Campus Life</span>
              </h1>
              <p class="para-home">
                Lorem ipsum dolor sit amet consectetur adipisicing elit
              </p>
              <div class="btn-home">
                <a href="#" class="home-links">Login</a>
                <a href="#" class="home-links btn-2">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="about-us-container">
    <div class="about-us">
      <div class="row">
        <div class="col-lg-6">
          <div class="content-about">
            <h3 class="heading-about">About US</h3>
            <p class="para-about">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Dicta debitis
            </p>
            <p class="para-about">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Dicta debitis
            </p>
            <a href="#" class="link-about"
              ><span class="span-about"></span> Read More...
              <span class="icon-arrow"
                ><i class="fa-regular fa-arrow-right"></i
              ></span>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="" alt="" class="img-about">
        </div>
      </div>
    </div>
  </div>
</div>

<section class="product-category">
  <h2 class="heading-product">Product Category</h2>
</section>
<%- include('../partials/footer.ejs') %>
