<%- include('../partials/header.ejs') %>
<div class="header">
  <div class="container-fluid gx-0">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand logo text-uppercase" href="#">Campus Connect</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Product Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">People Reviews</a>
            </li>
            <li class="nav-item">
              <a class="btn-navbar" href="#">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container1">
      <div class="content-home">
        <div class="row content-home2">
          <div class="col-lg-7 col-md-5">
            <div class="box-container">
              <img src="" alt="" class="img-home" />
            </div>
          </div>
          <div class="col-lg-5 col-md-7">
            <div class="box-container2">
              <h1 class="home-heading">
                Empowering Connections
                <span class="home-span">Enriching Campus Life</span>
              </h1>
              <p class="para-home">
                Lorem ipsum dolor sit amet consectetur adipisicing elit
              </p>
              <div class="btn-home">
                <a href="#" class="home-links">Login</a>
                <a href="#" class="home-links btn-2">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="about-us-container">
    <div class="about-us">
      <div class="row">
        <div class="col-lg-6">
          <div class="content-about">
            <h3 class="heading-about">About US</h3>
            <p class="para-about">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Dicta debitis
            </p>
            <p class="para-about">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Dicta debitis
            </p>
            <a href="#" class="link-about"
              ><span class="span-about"></span> Read More...
              <span class="icon-arrow"
                ><i class="fa-regular fa-arrow-right"></i
              ></span>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="/images/uni1.jpg" alt="" class="img-about" />
        </div>
      </div>
    </div>
  </div>
</div>

<section class="product-category">
  <h2 class="heading-product">Product Category</h2>
  <div class="container-fluid">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="card card-product">
                  <img src="" class="card-img-top img-card" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn-product-ctg"
                      >Read More...<span class="icon-arrow"
                        ><i class="fa-regular fa-arrow-right"></i></span
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card card-product">
                  <img src="" class="card-img-top img-card" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn-product-ctg"
                      >Read More...<span class="icon-arrow"
                        ><i class="fa-regular fa-arrow-right"></i></span
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card card-product">
                  <img src="" class="card-img-top img-card" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn-product-ctg"
                      >Read More...<span class="icon-arrow"
                        ><i class="fa-regular fa-arrow-right"></i></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="card card-product">
                  <img src="" class="card-img-top img-card" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn-product-ctg"
                      >Read More...<span class="icon-arrow"
                        ><i class="fa-regular fa-arrow-right"></i></span
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card card-product">
                  <img src="" class="card-img-top img-card" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn-product-ctg"
                      >Read More...<span class="icon-arrow"
                        ><i class="fa-regular fa-arrow-right"></i></span
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card card-product">
                  <img src="" class="card-img-top img-card" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn-product-ctg"
                      >Read More...<span class="icon-arrow"
                        ><i class="fa-regular fa-arrow-right"></i></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <button
        class="carousel-control-prev btn-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev">
        <span><i class="fa-regular fa-arrow-left btn-scroll button-left"></i></span>
      </button>
      <button
        class="carousel-control-next btn-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next">
        <span><i class="fa-regular fa-arrow-right btn-scroll button-right"></i></span>
      </button> -->
    </div>
  </div>
</section>

<section class="testimonial">
  <h2 class="heading-testimonial">
    What People Think <span class="styling">About Us</span>
  </h2>
  <p class="para-testimonial">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi maiores
    incidunt tenetur, earum quod repudiandae nesciunt facere optio expedita
    placeat, porro, temporibus possimus explicabo?
  </p>
  <div class="container-fluid">
    <div class="container-fluid">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <!-- <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"></button> -->
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container container-clients">
              <div class="row">
                <div class="col-lg-6 col-md-12 my-2">
                  <div class="container-content">
                    <div class="img-client">
                      <img src="" alt="" class="image-clients" />
                    </div>
                    <div class="icons-stars">
                      <ul class="rating">
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <h3 class="client-name">Aiden Mathide</h3>
                      <p class="para-client">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Laudantium sapiente voluptates vero fugiat sint ut
                        quibusdam quo autem fugit, at minima repellendus nostrum
                        amet. Ea provident voluptatibus tempora quae vero!
                      </p>
                      <h5 class="profession">Web Designer</h5>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 my-2">
                  <div class="container-content">
                    <div class="img-client">
                      <img src="" alt="" class="image-clients" />
                    </div>
                    <div class="icons-stars">
                      <ul class="rating">
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <h3 class="client-name">Aiden Mathide</h3>
                      <p class="para-client">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Laudantium sapiente voluptates vero fugiat sint ut
                        quibusdam quo autem fugit, at minima repellendus nostrum
                        amet. Ea provident voluptatibus tempora quae vero!
                      </p>
                      <h5 class="profession">Web Designer</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container container-clients">
              <div class="row">
                <div class="col-lg-6 col-md-12 my-2">
                  <div class="container-content">
                    <div class="img-client">
                      <img src="" alt="" class="image-clients" />
                    </div>
                    <div class="icons-stars">
                      <ul class="rating">
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <h3 class="client-name">Aiden Mathide</h3>
                      <p class="para-client">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Laudantium sapiente voluptates vero fugiat sint ut
                        quibusdam quo autem fugit, at minima repellendus nostrum
                        amet. Ea provident voluptatibus tempora quae vero!
                      </p>
                      <h5 class="profession">Web Designer</h5>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 my-2">
                  <div class="container-content">
                    <div class="img-client">
                      <img src="" alt="" class="image-clients" />
                    </div>
                    <div class="icons-stars">
                      <ul class="rating">
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <h3 class="client-name">Aiden Mathide</h3>
                      <p class="para-client">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Laudantium sapiente voluptates vero fugiat sint ut
                        quibusdam quo autem fugit, at minima repellendus nostrum
                        amet. Ea provident voluptatibus tempora quae vero!
                      </p>
                      <h5 class="profession">Web Designer</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-form">
  <h3 class="heading-contact">Contact Us</h3>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <form action="" class="form-origin">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Full Name *"
                  aria-describedby="emailHelp" />
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Email Address"
                  aria-describedby="emailHelp" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-3">
                <textarea
                  id="exampleFormControlTextarea1"
                  rows="3"
                  placeholder="Your Message"
                  class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-3 text-center">
                <a href="" class="btn-contact">Send Message</a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="content-contact">
          <h2 class="heading-content">
            More About <span>Campus Connect</span>
          </h2>
          <p class="para-content">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita
            odit dignissimos corporis quo aliquam libero perspiciatis nulla
            laudantium sit et?
          </p>
          <p class="para-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui nisi
            explicabo voluptate sint assumenda?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <p class="para-footer">&#169;Copyrights By Campus Connect 2024</p>
</footer>

<%- include('../partials/footer.ejs') %>
