<%- include('../partials/header.ejs') %>
<div class="header">
  <div class="container-fluid gx-0">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand logo text-uppercase" href="#">Campus Connect</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#campus">Campus Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#people">Alumni</a>
            </li>
            <!-- <li class="nav-item">
              <a class="btn-navbar" href="#">Login</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="container1">
      <div class="content-home">
        <div class="row content-home2">
          <div class="col-lg-7 col-md-5">
            <div class="box-container">
              <img src="" alt="" class="img-home" />
            </div>
          </div>
          <div class="col-lg-5 col-md-7">
            <div class="box-container2">
              <h1 class="home-heading">
                Empowering Connections
                <span class="home-span">Enriching Campus Life</span>
              </h1>
            
              <div class="btn-home">
                <a href="#" class="home-links">Login</a>
                <a href="#campus" class="home-links btn-2">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="about"></section>
<div class="container">
  <div class="about-us-container">
    <div class="about-us">
      <div class="row">
        <div class="col-lg-6">
          <div class="content-about">
            <h3 class="heading-about">About Us</h3>
            <p class="para-about">
              Welcome to our, where academic excellence meets vibrant campus life. Our university is committed to providing a rigorous education with a supportive and inclusive atmosphere.

With a distinguished faculty, we prepare students for success in their chosen fields. Our campus is a hub of activity, hosting a variety of educational events, cultural festivals, and collaborative projects.
            </p>
            <p class="para-about">
              At Chitkara University, we offer not just an education, but a community where every student is supported to achieve their best. Join us and be part of a thriving academic environment where opportunities abound.
            </p>
            <p class="slogan">
              Discover. Achieve. Succeed.
            </p>
            <a href="#" class="link-about"
              ><span class="span-about"></span> Read More...
              <span class="icon-arrow"
                ><i class="fa-regular fa-arrow-right"></i
              ></span>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="/images/about.jpeg" alt="" class="img-about" />
        </div>
      </div>
    </div>
  </div>
</div>
<section id="campus"></section>
<section class="product-category">
  <h2 class="heading-product">Campus Gallery</h2>
  <div class="container-fluid">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class=" card-product">
                  <img src="/images/Global-Week-inner.jpg" class="card-img-top img-card" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">Global Week</h5>
                    <p class="card-text">
                      The Global Week celebration was a vibrant event where international guests interacted with students and staff, fostering cultural exchange and global learning.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card-product">
                  <img src="/images/inde.jpg" class="card-img-top img-card" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">Independence Day</h5>
                    <p class="card-text">
                     Independence day celebration which included flag hoisting by our respected vice chancellor, parade by our ncc cadets followed by a culutural programme.
                    </p>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card-product">
                  <img src="/images/Hackathon.jpg" class="card-img-top img-card" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">Hackathon</h5>
                    <p class="card-text">
                      Our talented students achieved a remarkable victory in the Smart India Hackathon, showcasing their exceptional skills and creativity. Their success has brought us immense pride.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class=" card-product">
                  <img src="/images/green.jpeg" class="card-img-top img-card" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">Lush Green Environment</h5>
                    <p class="card-text">
                      Our campus features numerous lush green parks, offering a serene environment where you can connect with nature and enjoy a refreshing atmosphere.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class=" card-product">
                  <img src="/images/lit fest.jpg" class="card-img-top img-card" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">Lit Fest</h5>
                    <p class="card-text">
                      Our campus organized a lively lit fest where esteemed personalities from the industry joined us, sharing their valuable insights and enriching the experience for everyone.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class=" card-product">
                  <img src="/images/Christmas-Music-Fiesta.jpg" class="card-img-top img-card" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">Christmas Music Fiesta</h5>
                    <p class="card-text">
                      We celebrated Christmas with a vibrant event featuring a dynamic DJ performance and a lively musical celebration, creating a festive atmosphere that brought joy to everyone.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <button
        class="carousel-control-prev btn-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev">
        <span><i class="fa-regular fa-arrow-left btn-scroll button-left"></i></span>
      </button>
      <button
        class="carousel-control-next btn-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next">
        <span><i class="fa-regular fa-arrow-right btn-scroll button-right"></i></span>
      </button> -->
    </div>
  </div>
</section>
<section id="people"></section>
<section class="testimonial">
  <h2 class="heading-testimonial">
   Our Esteemed <span class="styling">Alumni</span>
  </h2>

  <div class="container-fluid">
    <div class="container-fluid">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <!-- <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"></button> -->
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container container-clients">
              <div class="row">
                <div class="col-lg-6 col-md-12 my-2">
                  <div class="container-content">
                    <div class="img-client">
                      <img src="/images/alumni1.jpg" alt="" class="image-clients" />
                    </div>
                    <div class="icons-stars">
                      <!-- <ul class="rating">
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                      </ul> -->
                      <h3 class="client-name">Amandeep Sidhu</h3>
                      <p class="para-client">
                        Our Alumni from Mechanical Engineering Batch 2002 – Amandeep Singh Sidhu, who is currently working as Technical Program Manager II, in Amazon, California, United States of America.
                        <p class="saying">"Joining Chitkara Engineering College in 2002 was a life-changing event for me. I was provided with innumerable opportunities to learn and grow in the four years I spent there."</p>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 my-2">
                  <div class="container-content">
                    <div class="img-client">
                      <img src="/images/alumni2.jpg" alt="" class="image-clients" />
                    </div>
                    <div class="icons-stars">
                      <!-- <ul class="rating">
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                      </ul> -->
                      <h3 class="client-name">Tamanna Bhasin</h3>
                      <p class="para-client">
                        Our University will forever cherish as Captain Tamanna Bhasin, an illustrious alumni of Chitkara University, Electronics & Communication Engineering (ECE) Batch 2012, was the Contingent Commander of TSAT vehicle, which is a DEFCON equipment providing communication to Army, Airforce and Navy.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container container-clients">
              <div class="row">
                <div class="col-lg-6 col-md-12 my-2">
                  <div class="container-content">
                    <div class="img-client">
                      <img src="/images/alumni3.jpeg" alt="" class="image-clients" />
                    </div>
                    <div class="icons-stars">
                      <!-- <ul class="rating">
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                      </ul> -->
                      <h3 class="client-name">Akshay Ahuja</h3>
                      <p class="para-client">
                        Our Alumni Akshay Ahuja ECE Batch (2011-15) initiates 'Build Your Bot'.
                        <p class="saying">“We will have an extensive training of children through RoboChamps, an academy being run by Robotics Education World. This event will bring change in education system that is taking all over education on hand-on practice.”</p>
                      </p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 my-2">
                  <div class="container-content">
                    <div class="img-client">
                      <img src="/images/alumni4.jpg" alt="" class="image-clients" />
                    </div>
                    <div class="icons-stars">
                      <!-- <ul class="rating">
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                        <li class="stars"><i class="fa-solid fa-star"></i></li>
                      </ul> -->
                      <h3 class="client-name">Harkaran Singh</h3>
                      <p class="para-client">
                        Our Mechanical Engineering 2004-2008 batch student presently working as a production manager with Metso Minerals at Alwar in Rajasthan. Beside his regular work with Metso, he runs a motorbike club with the name “Royal Thunderers' Club” and owns a travel venture in Rajasthan with the name “Weekend Adventure India”.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact"></section>
<section class="contact-form">
  <h3 class="heading-contact">Contact Us</h3>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <form action="" class="form-origin">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Full Name *"
                  aria-describedby="emailHelp" />
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Email Address"
                  aria-describedby="emailHelp" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-3">
                <textarea
                  id="exampleFormControlTextarea1"
                  rows="3"
                  placeholder="Your Message"
                  class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-3 text-center">
                <a href="" class="btn-contact">Send Message</a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="content-contact">
          <h2 class="heading-content">
            More About <span>Campus Connect</span>
          </h2>
          <p class="para-content">
            We are here to assist you with any questions or concerns you may have about the university management app. Whether you need technical support, have feedback to share, or require assistance with any aspect of the app, please don't hesitate to get in touch. 
          </p>
          <p class="para-content">
            Our team is dedicated to providing prompt and helpful responses, and we aim to address all inquiries within 24 hours. Your feedback is essential to us as we continuously work to enhance your user experience. Thank you for your engagement and for helping us make our app better for everyone!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <p class="para-footer">&#169;Copyrights By Campus Connect 2024</p>
</footer>

<%- include('../partials/footer.ejs') %>
