<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_student.ejs',{page_name:'student-modules'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <!-- <h2>Student Modules</h2> -->
    <table class="modules-table">
        <thead>
            <tr>
                <th>Module Code</th>
                <th>Module Name</th>
                <th>Credits</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CSE101</td>
                <td>Introduction to Python Programming</td>
                <td>4</td>
            </tr>
            <tr>
                <td>CSE102</td>
                <td>Calculas and Statistical Analysis </td>
                <td>3</td>
            </tr>
            <tr>
                <td>CSE103</td>
                <td>Modern Physics</td>
                <td>3</td>
            </tr>
            <tr>
                <td>CSE104</td>
                <td>Source Code Management</td>
                <td>4</td>
            </tr>
            <tr>
                <td>CSE105</td>
                <td>Operating System</td>
                <td>3</td>
            </tr>
            <tr>
                <td>CSE106</td>
                <td>Front End Engineering</td>
                <td>4</td>
            </tr>
            <!-- Add more modules as needed -->
        </tbody>
    </table>

</div>
<img src="images/modules.png" width="120px" height= "120px" style="margin-left: 88%;margin-top:40px;background-color: transparent;">

<%- include('../partials/footer.ejs') %>
