<%- include('../partials/header.ejs') %> <%-
include('../partials/sidebar_student.ejs',{page_name:'student-achievements'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
  <!-- <h2>Student Achievements</h2> -->
  <div class="achievements">
    <div class="achievement">
      <h3>First Place in Coding Contest</h3>
      <p>Date: August 2024</p>
    </div>
    <div class="achievement">
      <h3>Best Project Award</h3>
      <p>Date: June 2024</p>
    </div>
    <div class="achievement">
      <h3>Best Project Award</h3>
      <p>Date: June 2024</p>
    </div>
    <div class="achievement">
      <h3>Best Project Award</h3>
      <p>Date: June 2024</p>
    </div>
    <div class="achievement">
      <h3>Best Project Award</h3>
      <p>Date: June 2024</p>
    </div>
    <!-- Add more achievements as needed -->
  </div>
</div>
<%- include('../partials/footer.ejs') %>
