<%- include('../partials/header.ejs') %> <%-
include('../partials/sidebar_teacher.ejs',{page_name:'teacher-quiz'}) %> <%-
include('../partials/header_profile.ejs') %>
<div class="container2">
  <form action="/create-quiz" method="POST" class="quiz-form">
    <!-- Repeatable section for questions -->
    <div id="questions-container">
      <div class="question-block">
        <div class="input-field">
          <label for="question-1" style="font-size: 18px">Question:</label>
          <input
            type="text"
            id="question1"
            name="questions[0][question]"
            required />
        </div>

        <div class="input-field">
          <label for="option1-1">Option 1:</label>
          <input
            type="text"
            id="option1-1"
            name="questions[0][options][0]"
            required />
        </div>

        <div class="input-field">
          <label for="option2-1">Option 2:</label>
          <input
            type="text"
            id="option2-1"
            name="questions[0][options][1]"
            required />
        </div>

        <div class="input-field">
          <label for="option3-1">Option 3:</label>
          <input
            type="text"
            id="option3-1"
            name="questions[0][options][2]"
            required />
        </div>

        <div class="input-field">
          <label for="option4-1">Option 4:</label>
          <input
            type="text"
            id="option4-1"
            name="questions[0][options][3]"
            required />
        </div>

        <div class="input-field">
          <label for="correct-answer-1">Correct Answer:</label>
          <select
            id="correct-answer-1"
            name="questions[0][correct_answer]"
            required>
            <option value="0">Option 1</option>
            <option value="1">Option 2</option>
            <option value="2">Option 3</option>
            <option value="3">Option 4</option>
          </select>
        </div>
      </div>
    </div>

    <button type="button" class="nextBtn" style="width: 200px">
      Add Another Question
    </button>

    <button type="submit" class="nextBtn">Create Quiz</button>
  </form>
</div>
<%- include('../partials/footer.ejs') %>
