<%- include('../partials/header.ejs') %> <%-
include('../partials/sidebar_teacher.ejs',{page_name:'teacher-attendance'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
  <form action="/create-quiz" method="POST" class="quiz-form">
    <!-- Repeatable section for questions -->
    <div id="questions-container">
      <div class="question-block">
        <div class="input-field">
          <label for="question-1">Roll No.</label>
          <input
            type="text"
            id="question1"
            name="questions[0][question]"
            required />
        </div>

        <div class="input-field">
          <label for="option1-1">Subject</label>
          <input
            type="text"
            id="option1-1"
            name="questions[0][options][0]"
            required />
        </div>

        <div class="input-field">
          <label for="option2-1">From</label>
          <input
            type="date"
            id="option2-1"
            name="questions[0][options][1]"
            required />
        </div>

        <div class="input-field">
          <label for="option3-1">To</label>
          <input
            type="date"
            id="option3-1"
            name="questions[0][options][2]"
            required />
        </div>

        <div class="input-field">
          <label for="option4-1">Total Attended</label>
          <input
            type="number"
            id="option4-1"
            name="questions[0][options][3]"
            required />
        </div>

        <div class="input-field">
          <label for="option4-1">Total Absent</label>
          <input
            type="number"
            id="option4-1"
            name="questions[0][options][3]"
            required />
        </div>
      </div>
    </div>

    <button type="submit" class="nextBtn" style="margin-left: 10px">
      Upload
    </button>
  </form>
</div>
<%- include('../partials/footer.ejs') %>
